.image{
    height: 45px;
    width: 45px;
    margin-left: 30px;
    margin-top: 30px;
}

::ng-deep .p-autocomplete{ 
        color: rgb(250, 246, 246);
        margin-left: 30px;
        width: 51px;
         height: 17px; 
      } 

 .pi-search:before{
    margin-left: 2.75rem;
    margin-top: -2.562rem;
    font-size: 1.2rem;

 }
 .header{
    border: 1px solid gray;
    border: radius 1px; ;
    width:25%;
    border-radius: 6px;
    margin-top: -1.4rem;
    margin-left: 8.375rem;
 }
 .main-content{
    margin-left: 650px;
    margin-top: 150px;
    
 }
 .img{
   height: 14rem;
    width: 39rem;
    margin-left: -270px;
    margin-top: -100px;
 }
 .learn-angular{
   border: 1px solid gray;
   border: radius 1px; 
   width:14%;
   text-align: center;
   margin-right: 5px;
   margin-left: -30px;
}
 .angular{
   text-decoration:none;
 }
