<div>
  <img class="image" src="angular_gradient.png" alt="angular_gradient.png" />
</div>
<div class="justify-center">
  <p-autocomplete
    [(ngModel)]="selectedOption"
    [dropdown]="true"
    [suggestions]="items"
    (completeMethod)="search($event)"
  />
</div>
<div class="container">
  <div class="header">
    <p>
      Angular v19 is here!
      <a
        href="https://blog.angular.dev/meet-angular-v19-7b29dfd05b84"
        target="_blank"
      >
        Read about our newest release.
      </a>
    </p>
  </div>
  <div class="main-content">
    <div class="logo">
      <img class="img" src="lockup_angular_gradient_alt05.png" alt="angular" />
    </div>
    <div class="learn-angular">
    <a class="angular"
      href="https://angular.dev/tutorials/learn-angular"
      target="_blank"
      role="button"
    >
      Learn Angular
    </a>
  </div>
  </div>
</div>
